@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 1.25rem;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
}

a {
  padding: 3px 0;

  color: #000;
  text-decoration: none;

  transition: 0.2s color;
}
a:visited {
  color: #000;
}
a:hover {
  cursor: pointer;

  color: #17c964;
}

.cursor-pointer {
  cursor: pointer;
}

.nextui-navbar {
  background-color: rgba(255, 255, 255, 0.9);
}

.nextui-navbar-container {
  max-width: 1400px !important;
  background: none !important;
}

.contacts_block {
  width: 100%;
  height: calc(100vh - 80px);
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7) !important;
  background: url(https://wallpaperaccess.com/full/981446.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
